*{margin: 0px; list-style: none; text-decoration: none; color: #666666;}
#wrap{width: 1080px; height: 1920px; background: #fffbe3;}
header{width: 1080px; height: 280px; position: relative;}
main{width: 1080px; height: 980px; position: relative;background: #ffffff;}
section{width: 1080px; height: 480px; position: relative;}
footer{width: 1080px; height: 180px; position: relative;}
.logo{width:500px; height: 230px;overflow: hidden; float: left;margin-top: 50px;margin-left: 30px;}
.logo img{width: 500px;}
.mainimg{width: 1080px; height: 980px; overflow: hidden;position: relative; }
.mainimg img{width: 1020px; height: 910px; padding: 30px; paposition: absolute;}
.icon img{width: 300px;}
.icon p{float: left; padding-top: 100px;padding-left: 40px; text-align: center; font-size: 30px;}